.ads-container {
    display: block;
    gap: 0;
    text-align: center;
    margin: 0 25px 40px;

    @media screen and (min-width: 769px) {
        margin: unset;
        display: grid;
        grid-template-columns: repeat(2, 33%);
        justify-content: center;

        .page-template-page-home & {
            margin: 0 auto 20px;
            max-width: 1080px;
            
            &.can-2 {
                grid-template-columns: repeat(2, 50%);
            }
    
            &.can-3 {
                grid-template-columns: repeat(4, 33%);
            }
    
            &.can-4 {
                grid-template-columns: repeat(4, 25%);
            }
        }
    }

    @media screen and (min-width: 1025px) {
        grid-template-columns: repeat(auto-fit, 33%);
    }

    .ad {
        box-shadow: inset 0 0 0 1px $medium-blue;
        background-color: $dark-blue;
        color: $white;
        padding: 25px;
        width: 100%;
        position: relative;

        @media screen and (min-width: 769px) {
            padding: 30px;
        }
        .image {
            margin-bottom: 20px;
        }

        .ad-text {
            color: $sky-blue;
            text-transform: uppercase;
            font-size: 14px;
            margin-bottom: 10px; 
            display: block;
        }

        .title {
            min-height: 96px;
            text-align: center;
            font-size: 28px;
            font-style: normal;
            font-weight: 800;
            line-height: 32px;
            letter-spacing: -0.5px;
            margin: 0 0 80px;
            display: block;
        }

        .button-container {
            width: 100%;
            position: absolute;
            bottom: 30px;
            left: 0px;
        }

        button {
            display: block;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width:1024px) and (max-width: 1250px) {
    .ads-wrapper {
        width: 1200px !important;
    }
}

@media print, screen and (min-width: 1400) {
    .grid-margin-x>.large-8 {
        width: calc(66.6666666667% - 1.875rem) !important;
    }
}

.election-year-heading {
    text-align: center;
}

.year-group {
    margin-bottom: 40px;
}
/*
<div class="ad">		
	<div class="image">
		<img src="<?php echo $image['sizes']['video_thumb'];?>" alt="<?php echo get_the_title();?>" />
	</div>
	<span classname="title"> 
		<?php echo get_the_title();	?>
	</span>
    <button class="play" data-url="<?php echo get_field('video_url', get_the_ID());?>">Watch</button>
	</div>
</div>
*/